.flip-card {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #000000;
    a: {
        color: #ffffff;
        text-decoration: none;
    }
    position: absolute;
    top: 50%;
    height: 200px;
    width: 150px;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 600px;
    transition: .5s;
    &:hover .flip-card-front {
        transform: rotateX(-180deg);
    }

    &:hover .flip-card-back {
        transform: rotateX(0deg);
    }
}

.flip-card-front {
    height: 100%;
    width: 100%;
    background-image: url('../images/Portfolio-Profile-Pic.jpg');
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    background-color: #000000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: .5s;
}

.flip-card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: .5s;
    color: #000000;
    text-align: center;
    h2 {
        margin: 60% auto 35% auto;
        font-size: 26px;

        span {
            font-size: 20px;
        }
    }
    a {
        height: 20px;
        width: 20px;
        padding: 5px 5px;
        border-radius: 4px;
        line-height: 20px;
        color: #ffffff;
        text-decoration: none;
        &:hover {
            color: #000000;
            background-color: #fff;
        }
    }
}