.custom-banner {
    display: inline-block;
    font-size: 3vw !important;
    margin-right:20% !important;
    margin-bottom:10%;
    margin-top: -25%;
    text-transform: uppercase;
    color: #FF5722;
    align-content: center !important;
    
    @media (min-width: 350px) {
      font-size: 9vw;
    }
    
    @media (max-width: 1500px) {
      font-size: 80px;
    }
  }

.luminence {
    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #29b6f6, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: reveal 1500ms ease-in backwards 1500ms, glow 5000ms linear infinite 3000ms;
    position: relative;
  
    @keyframes reveal {
      80%{
        letter-spacing: 4px;
      }
      100% {
        background-size: 300% 300%;
      }
    }
    @keyframes glow {
      40% {
        text-shadow: 0 0 1px #FFAB40;
      }
    }
}  

.heading-frame {
    display: grid;
	place-items: center;
	box-shadow: 0 3px 6px rgba(0,0,0,0.4);
	grid-template-columns: max-content auto;
	grid-template-rows: auto max-content;
	background: #333 url('.././images/hnet.com-image.ico') center;
	background-size: cover;
	color: white;
    width: 300px;
	height: 250px;
	padding: 2rem;
	&:before,
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		border: 1px solid white;
	}
	&:before {
		grid-row: 1 / 2;
		border-right: none;
		border-bottom: none;
	}	
	&:after {
		grid-row: 1 / span 2;
		border-left: none;
	}
	h2 {
		margin: 1rem 1rem -.5rem 0;
		font-family: 'Pragati Narrow', sans-serif;
		font-size: 2rem;
		max-width: 100%;
	}
}
  
.animation-box {
    width: 100%;
    height: 30rem;
    overflow: hidden;
    position: relative;
    margin-left: 10%;
    font-weight: bold;
    color: #000;
    text-align: center;
    letter-spacing: 5px;
}

.top-fade-out {
    font-size: 2.4rem;
    position: absolute;
    left: 12.5rem;
    top: 5rem;
    opacity: 1;
    animation-name: topFadeOut;
    animation-duration: 2s;
    color: white;
}

.right-fade-in {
    font-size: 1.6rem;
    position: absolute;
    right: 10rem;
    top: 9rem;
    animation-name: rightFadeInOut;
    animation-delay: 0s;
    animation-duration: 3s;
    color: white;
}

.left-fade-in {
    font-size: 1.6rem;
    position: absolute;
    left: 17.5rem;
    top: 13rem;
    animation-name: leftFadeInOut;
    animation-delay: 0s;
    animation-duration: 3s;
    color: white;
}

@keyframes topFadeOut {
    0% {
        position: absolute;
        top: -5rem;
        opacity: 0;
    }
    50% {
        top: 25%;
        opacity: 0.50;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rightFadeInOut {
    0% {
        position: absolute;
        right: -10rem;
        opacity: 0;
    }
    75% {
        position: absolute;
        opacity: 0.50;
    }
    100% {
        opacity: 1;
    }
}

@keyframes leftFadeInOut {
    0% {
        position: absolute;
        left: -10rem;
        opacity: 0;
    }
    75% {
        position: absolute;
        opacity: 0.50;
    }
    100% {
        opacity: 1;
    }
}