@import url('https://fonts.googleapis.com/css?family=Monoton');

.custom-banner-body {
  width: 100%;
  height: 100%;
  margin-right:20% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Monoton", Helvetica, sans-serif;
  background: transparent;
  letter-spacing: 4px;
}

.custom-content {
  align-items: center;
}

@supports (-webkit-background-clip: text) {
	h1 {
		color: transparent;
		background: linear-gradient(7deg, #F44336 50%, #29b6f6 0);
        -webkit-background-clip: text;
        background-clip: text;
	}
}

#overlay {
    background: url("../images/black-frost-ripples-1280.jpg");
    background-size:cover;
    -webkit-box-shadow: 0 0 10px black;
        box-shadow: 0 0 10px black;
    opacity: 0.35;
}

#header {
    background: url("../images/black-frost-ripples-1280.jpg") !important;
    background-size: cover !important;
    opacity: 1;
    z-index: 101;
}

div.speed-1 p.speed-1 {
    text-align: center;
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 20px;
    color: white;
    text-transform: none;
    margin: 0 20px;
    opacity: 1.0;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
}

div.speed-2 p.speed-2 {
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 16px;
    color: white;
    text-transform: none;
    margin: 0 20px;
    opacity: 1.0;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
}

div.speed-3 p.speed-3 {
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 16px;
    color: white;
    text-transform: none;
    margin: 0 20px;
    opacity: 1.0;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
