@import url('https://fonts.googleapis.com/css?family=Monoton');

.custom-banner-body {
    width: 100%;
    height: 100%;
    margin-right:20% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Monoton", Helvetica, sans-serif;
    background: transparent;
    letter-spacing: 4px;
}

#banner.content {
    padding-bottom: -3em !important; 
}

/* .spotlight:before {
    border-bottom: 5rem solid black;
    position: fixed !important;
} */

@supports (-webkit-background-clip: text) {
	h1 {
		color: transparent;
		background: linear-gradient(7deg, #F44336 50%, #FF5722 0);
        -webkit-background-clip: text;
        background-clip: text;
	}
}

#header {
    background: url("../images/black-frost-ripples-1280.jpg") !important;
    background-size: cover !important;
    opacity: 1;
    position: relative !important;
    z-index: 101;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.image-animation {
    width: 200px !important;
    height: 200px !important;
    text-shadow: 0 0 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 150px inset, 0 0 5px grey;
    transition: box-shadow 1s;
    margin: 10px;
    margin-left: 95px;
}
  
.image-animation::after {
    width: 80%;
    height: 80%;
    display: block;
    white-space: pre;
    font: 15pt 'Monoton';
    color: white;
    border: 2px solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s .5s;
}
  
.image-animation:hover {
    box-shadow: 0 0 0 5px inset, 0 0 5px grey, 0 0 10px grey inset;
    transition: box-shadow 1s;
}

.image-animation:hover::after {
    opacity: 0;
    transition: opacity .5s;
}

#angular {
    background-image: url('../../assets/images/angular-icon.jpg');
    color: rgba(221, 86, 63, .9);
  }
  
#angular::after {
    content: 'Angular';
}

#spring-boot {
    background-image: url('../../assets/images/springboot-icon.png');
    color: rgba(84, 212, 52, 0.9);
}

#spring-boot::after {
    content: 'Spring Boot'
}

#asp-net {
    background-image: url('../../assets/images/asp.net-icon.png');
    color: rgba(91, 34, 138, 0.9);
}

#asp-net::after {
    content: 'C# ASP.NET'
}

#sql {
    background-image: url('../../assets/images/mysql-icon.png');
    color: rgba(250, 151, 71, 0.9);
}

#sql::after {
    content: 'SQL & MongoDB'
}

#javascript {
    background-image: url('../../assets/images/javascript-logo.png');
    color: rgba(250, 232, 71, 0.9);
}

#javascript::after {
    content: 'Javascript'
}

#react {
    background-image: url('../../assets/images/react-icon.png');
    color: rgba(69, 174, 235, 0.9);
}

#react::after {
    content: 'React & Gatsby'
}

