@import url('https://fonts.googleapis.com/css?family=Monoton');

.custom-banner-body {
  width: 100%;
  height: 100%;
  margin-right:20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Monoton", Helvetica, sans-serif;
  background: transparent;
  letter-spacing: 3px;
}

.custom-banner {
  display: inline;
  font-size: 12vw;
  text-transform: uppercase;
  color: #29b6f6;
  align-content: center !important;
  
  @media (max-width: 350px) {
    font-size: 9vw;
  }
  
  @media (min-width: 700px) {
    font-size: 80px;
  }
}

.custom-content {
  align-items: center;
}

@supports (-webkit-background-clip: text) {
	h1 {
		color: transparent;
		background: linear-gradient(7deg, #98ee99 60%, #29b6f6 0);
        -webkit-background-clip: text;
        background-clip: text;
	}
}